@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Common Styles */

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container{
    padding: 0 8%;
}


/* Header section start */

.header-banner{
    background-color: #161616;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-evenly;
    align-items: center;
    column-gap: 30px;
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 100px;
    border-radius: 30px;
    padding: 0 60px 0 80px;
}

.header-content{
    margin: 40px 0;
}

.header-title{
    font-size: 4em;
    line-height: 70px;
    margin: 0;
}

.header-para{
    font-size: 15px;
    margin-bottom: 30px;
}

.live-btn{
    text-decoration: none;
    color: #ffffff;
    background-color: #6230EF;
    padding: 12px 20px;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

.live-btn:hover{
    transition: 0.3s;
    box-shadow: 0px 0px 20px #6230EF;
    animation: jump 0.4s ease-in infinite;
}

@keyframes jump {
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.1);
    }

    100%{
        transform: scale(1);
    }
}

.header-img img{
    position: relative;
    bottom: -7px;
    width: 100%;
}

/* Header section end */

/* Main section start */

.main-section{
    display: flex;
    margin-bottom: 100px;
}

/* Side Menu bar */
.menu-bar{
    width: 160px;
    height: 160px;
    background-color: #161616;
    padding: 20px;
    border-radius: 10px;
    margin-right: 20px;
}

.menu-bar ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-bar ul li:first-child,.menu-bar ul li:nth-child(2){
    margin-bottom: 20px;
}

.menu-bar ul li a{
    display: inline-block;
    text-decoration: none;
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    font-size: 14px;
    color: #161616;
    font-weight: 600;
    border-radius: 5px;
}

#active a{
    background-color: #6230EF;
    color: #ffffff;
}

/* Articles */

.blogs, .upcoming-matches{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.blog, .match-box{
    border-radius: 15px;
    border: 1px solid #E8E8E9;

}

.blog .thumbnail img{
    width: 100%;
}

.blog-detail{
    padding: 20px;
}

.catagory{
    border: 1px solid #161616;
    padding: 4px 12px;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.catagory:hover{
    transition: 0.3s;
    background-color: #6230EF;
    color: #ffffff;
}

.blog-info{
    display: flex;
}

.blog-info span{
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.blog-info span img{
    margin-right: 5px;
}


/* View All button */

.view-all-btn {
    margin-top: 40px;
    display: none;
}
.view-all-btn a{
    text-decoration: none;
    color: #ffffff;
    padding: 12px 30px;
    background-color: #6230EF;
    border-radius: 10px;
    font-size: 20px;
}

/* Upcoming Matches */

.match-box{
    padding: 30px 20px;
}

.flags{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
}

.flags img{
    width: 100%;
}

.match-info{
    text-align: center;
}

.match-title{
    font-weight: 600;
    margin-bottom: 0;
}


.match-schedule{
    color: #4D4D4D;
    font-size: 14px;
    margin-top: 10px;
}

/* Main section end */


/* Footer section start*/

footer{
    background-color: #161616;
    padding: 60px 0;
}

.footer-title h2{
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    margin: 0 0 40px 0;
}

footer hr{
    border: 1px solid rgba(231, 231, 231, 0.275);
}

.footer-menu{
    margin-top: 40px;
}

.footer-menu ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.footer-menu ul li a{
    text-decoration: none;
    color: rgba(232, 232, 233, 0.76);
    font-size: 15px;
}

.social-icons{
    text-align: center;
    margin-top: 40px;
}

.social-icons .icon{
    color: #fff;
    font-size: 30px;
    margin: 0 10px;
}

.social-icons .icon:hover{
    transition: 0.3s;
    color: #6230EF;
}
/* Footer section end*/


/* Responsive Section */

/* Mobile Screen */

@media only screen and (max-width: 768px) {

    /* Common style */
    .container{
        padding: 0 4%;
    }

    /* Header */

    .header-banner{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin: 15px 0;
        border-radius: 20px;
        padding: 0 50px;
        text-align: center;
    }
    
    .header-title{
        font-size: 1.5em;
        line-height: 33px;
        margin: 0;
    }

    .header-para{
        height: 45px;
        white-space: no-wrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: rgba(255, 255, 255, 0.7);
    }

    .header-img img{
        left: 15px;
    }

    /* Main Section */

    .main-section{
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }
    
    .menu-bar{
        background-color: transparent;
        margin-bottom: 15px;
    }

    .menu-bar ul li a{
        border: 1px solid rgba(206, 206, 206, 0.7);
    }

    .menu-bar ul li:first-child,.menu-bar ul li:nth-child(2){
        margin-bottom: 15px;
    }

    .menu-bar ul li:nth-child(2) a, .menu-bar ul li:nth-child(3) a{
        width: 120px;
    }
    

    .blogs, .upcoming-matches{
        grid-template-columns: repeat(1,1fr);
    }

    /* Footer */

    .footer-menu ul{
        flex-direction: column;
    }

    .footer-menu ul li{
        margin-bottom: 20px;
    }

}

/* Tablet Screen */

@media only screen and (min-width: 769px) and (max-width: 992px){

    /* Common Style */

    .container{
        padding: 0 4%;
    }
    

    /* Header */

    .header-banner{
        margin-bottom: 30px;
        border-radius: 20px;
        padding: 0 40px;
    }
    .header-content{
        margin: 30px 0;
    }

    .header-title{
        font-size: 2.8em;
        line-height: 50px;
        margin: 0;
    }

    .header-para{
        height: 45px;
        white-space: no-wrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: rgba(255, 255, 255, 0.7);
    }

    /* Main Section */
    .main-section{
        margin-bottom: 40px;
        flex-direction: column;
        align-items: center;
    }
    
    .menu-bar{
        background-color: transparent;
        margin-bottom: 30px;
    }

    .menu-bar{
        width: 100%;
        height: auto;
        background-color: transparent;
        padding: 0px;
        border-radius: 10px;
        margin-right: 0px;
    }

    .menu-bar ul{
        flex-direction: row;
        justify-content: space-between;
    }

    .menu-bar ul li a{
        border: 1px solid rgba(206, 206, 206, 0.7);
    }

    .menu-bar ul li:first-child,.menu-bar ul li:nth-child(2){
        margin-bottom: 0px;
    }

    .blogs, .upcoming-matches{
        grid-template-columns: repeat(2,1fr);
    }

    .view-all-btn{
        display: block;
    }

}

@media only screen and (min-width: 993px) and (max-width: 1220px){
    .header-banner{
        margin-bottom: 30px;
        border-radius: 20px;
        padding: 0 40px;
    }
    .header-content{
        margin: 30px 0;
    }

    .header-title{
        font-size: 2.8em;
        line-height: 50px;
        margin: 0;
    }

    .header-para{
        height: 45px;
        white-space: no-wrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: rgba(255, 255, 255, 0.7);
    }

}